<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../../public/css/Header1.css">
  <link rel="stylesheet" href="../../../public/css/Header2.css">
  <link rel="stylesheet" href="../../../public/css/Header3.css">
</head>

<body>
  <div class="container-hero login-card" data-v-3646e638="" data-v-47d4be7d="">
    <div class="generic-card login" data-v-50280c9c="" data-v-3646e638="">
      <h4 data-v-50280c9c="" data-v-3646e638="">Online Banking Sign In</h4>
      <div class="row" data-v-50280c9c="" data-v-3646e638="">
        <div class="login-switcher-left login-switcher" style="color:#ffffff;background-color:#4D3157;" data-v-50280c9c=""
          data-v-3646e638="">Personal</div> <a href="#" class="login-switcher-right login-switcher"
          data-v-541744a1="" data-v-3646e638="" data-v-50280c9c=""><span data-v-3646e638="">普通会员</span></a>
      </div>
      <div class="login-form text-center" data-v-50280c9c="" data-v-3646e638="">
      
          <div class="OZRK__input-container OZRK__input-container--has-icon" data-v-a1ef0c88="" data-v-3646e638=""
            data-v-50280c9c="">
            <div aria-hidden="true" class="OZRK__input-container__icon material-icons" data-v-a1ef0c88=""><img src="../../../public/img/user1.png" width="20" height="20" /></div>
            <label for="userName" tabindex="-1" data-v-a1ef0c88="" data-v-3646e638="">Username</label> <input type="text"
              name="username" aria-label="Username" value="" data-v-a1ef0c88="" data-v-3646e638="" />

          </div>
          <div data-v-a1ef0c88="" data-v-3646e638="" class="OZRK__input-container OZRK__input-container--has-icon"
            data-v-50280c9c="">
            <div data-v-a1ef0c88="" aria-hidden="true" class="OZRK__input-container__icon material-icons"><img src="../../../public/img/lock.png" width="20" height="20" /></div>
            <label data-v-3646e638="" data-v-a1ef0c88="" for="userPass" tabindex="-1">Password</label> <input placeholder="Password"
              data-v-3646e638="" data-v-a1ef0c88="" autocomplete="current-password" type="password" name="password"
              aria-label="Password" />

          </div> <button tabindex="0" class="login-btn ozrk-button ozrk-button--standard" data-v-3646e638=""
            data-v-50280c9c="">Log In</button> <a data-v-3646e638="" data-v-50280c9c="" href="#"
            style="margin-right: 8px;">Forgot Password?</a> | <a href="#"
            style="margin-left: 8px;" data-v-50280c9c="" data-v-3646e638="">Enroll In Online Banking</a>
      </div>
  </div>
  </div>
  
</body>

</html>
