.inline-table table {
  width: 100%
}

.icon[data-v-dc5e2b7e] {
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga"
}

.btn[data-v-dc5e2b7e] {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: proxima-nova, Arial Black, Verdana, Tahoma;
  font-display: swap;
  align-items: center;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  color: #414141;
  display: inline-flex;
  justify-content: center;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: .75em 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color .25s linear, color .25s linear, border-color .25s linear;
  will-change: background-color, color
}

.browser-ie .btn[data-v-dc5e2b7e] {
  font-size: 18px
}

.btn[data-v-dc5e2b7e]:hover {
  background-color: #f2f2f2;
  text-decoration: none
}

.btn[data-v-dc5e2b7e]:active {
  outline: 0
}

.btn--primary[data-v-dc5e2b7e] {
  background-color: #e40046;
  border-color: #e40046;
  color: #fff !important
}

.btn--primary[data-v-dc5e2b7e]:hover {
  background-color: #bb0039;
  border-color: #bb0039
}

.btn--primary[data-v-dc5e2b7e]:focus {
  text-decoration: underline;
  background-color: #fff !important;
  box-shadow: 0 0 0 2px #e40046;
  color: #e40046 !important
}

.btn--primary[data-v-dc5e2b7e]:focus-visible {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #e40046
}

.btn--secondary[data-v-dc5e2b7e] {
  background-color: #4d3157;
  border-color: #4d3157;
  color: #fff !important
}

.btn--secondary[data-v-dc5e2b7e]:hover {
  background-color: #36223d;
  border-color: #36223d
}

.btn--secondary[data-v-dc5e2b7e]:focus {
  text-decoration: underline;
  background-color: #fff !important;
  box-shadow: 0 0 0 2px #e40046;
  color: #e40046 !important
}

.btn--secondary[data-v-dc5e2b7e]:focus-visible {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #2d8079
}

.btn--secondary.btn--arrow[data-v-dc5e2b7e]:after {
  content: "";
  height: 16px;
  width: 16px;
  margin-left: .5em;
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat
}

.btn--outline[data-v-dc5e2b7e] {
  background-color: #fff !important;
  border-style: solid;
  border-width: 2px;
  color: #e40046
}

.btn--outline.btn--secondary[data-v-dc5e2b7e] {
  color: #4d3157
}

.btn--outline[data-v-dc5e2b7e]:focus,
.btn--outline[data-v-dc5e2b7e]:hover {
  background-color: #e40046 !important;
  border-color: #e40046 !important;
  color: #fff !important
}

.btn--outline[data-v-dc5e2b7e]:focus-visible {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #e40046
}

.btn--upper[data-v-dc5e2b7e] {
  text-transform: uppercase
}

.btn--full[data-v-dc5e2b7e] {
  display: flex;
  width: 100%
}

.btn--light[data-v-dc5e2b7e] {
  font-weight: 500
}

.btn--arrow[data-v-dc5e2b7e]:after {
  content: "";
  height: 16px;
  width: 16px;
  margin-left: .5em;
  background-image: url(/assets/images/button-icon-arrow.png);
  background-size: contain;
  background-repeat: no-repeat
}

.link[data-v-dc5e2b7e] {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  position: relative
}

@media screen and (min-width:0) {
  .link[data-v-dc5e2b7e] {
    margin-bottom: .75rem
  }
}

@media screen and (min-width:576px) {
  .link[data-v-dc5e2b7e] {
    margin-bottom: .875rem
  }
}

@media screen and (min-width:768px) {
  .link[data-v-dc5e2b7e] {
    margin-bottom: 1rem
  }
}

@media screen and (min-width:992px) {
  .link[data-v-dc5e2b7e] {
    margin-bottom: 1.5rem
  }
}

@media screen and (min-width:1500px) {
  .link[data-v-dc5e2b7e] {
    margin-bottom: 1.5rem
  }
}

.link--green[data-v-dc5e2b7e] {
  color: #2d8079
}

.link--green[data-v-dc5e2b7e]:hover {
  color: #266d67
}

.link--arrow[data-v-dc5e2b7e]:after {
  display: inline-block;
  content: "";
  height: 12px;
  width: 12px;
  margin-left: .5em;
  background-image: url(/assets/images/button-icon-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(100);
  opacity: .8
}

@media (max-width:1499.98px) {
  .site-header[data-v-dc5e2b7e] {
    max-width: 100%
  }
}

/* .site-header__wrapper[data-v-dc5e2b7e] {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25)
} */

@media (max-width:991.98px) {
  .site-header__wrapper[data-v-dc5e2b7e] {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%
  }
}

.site-header__ada-skip-menu-item[data-v-dc5e2b7e] {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden
}

.site-header__ada-skip-menu-item[data-v-dc5e2b7e]:active,
.site-header__ada-skip-menu-item[data-v-dc5e2b7e]:focus,
.site-header__ada-skip-menu-item[data-v-dc5e2b7e]:hover {
  top: 0;
  left: 0;
  font-size: 14px;
  font-size: .875rem;
  color: #fff;
  background-color: #e40046;
  height: auto;
  overflow: auto;
  width: 100%;
  padding: 2px 10px;
  z-index: 100;
  box-shadow: none
}

.browser-ie .site-header__ada-skip-menu-item[data-v-dc5e2b7e]:active,
.browser-ie .site-header__ada-skip-menu-item[data-v-dc5e2b7e]:focus,
.browser-ie .site-header__ada-skip-menu-item[data-v-dc5e2b7e]:hover {
  font-size: 14px
}

@media (max-width:991.98px) {
  .site-header__utility[data-v-dc5e2b7e] {
    display: none
  }
}

.site-header__utility__nav[data-v-dc5e2b7e] {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0
}

.site-header__utility__nav .menu-item[data-v-dc5e2b7e] {
  padding: 20px 20px 10px
}

.site-header__utility__nav .menu-item[data-v-dc5e2b7e]:last-child {
  padding-right: 0
}

.site-header__utility__nav .menu-item a[data-v-dc5e2b7e] {
  font-size: 14px;
  font-size: .875rem;
  color: #1f2733;
  font-family: proxima-nova, Arial Black, Verdana, Tahoma;
  font-weight: 300
}

.browser-ie .site-header__utility__nav .menu-item a[data-v-dc5e2b7e] {
  font-size: 14px
}

.site-header__utility__search[data-v-dc5e2b7e] {
  align-items: center;
  border: 1px solid #6c7480;
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  margin-top: -4px;
  max-width: 28px;
  opacity: .8;
  overflow: hidden;
  width: 100%;
  transition: max-width .25s cubic-bezier(.4, 0, .2, 1), opacity .25s cubic-bezier(.4, 0, .2, 1);
  will-change: max-width, opacity
}

.site-header__utility__search--open[data-v-dc5e2b7e] {
  max-width: 250px;
  opacity: 1
}

.site-header__utility__search .icon[data-v-dc5e2b7e] {
  cursor: pointer;
  font-size: 18px;
  flex: 28px;
  margin: 0 5px
}

.site-header__utility__search input[data-v-dc5e2b7e] {
  border: 0;
  box-shadow: none;
  outline: 0;
  width: 100%
}

.site-header__utility__search input[data-v-dc5e2b7e]::placeholder {
  font-size: 14px;
  font-size: .875rem
}

.browser-ie .site-header__utility__search input[data-v-dc5e2b7e]::placeholder {
  font-size: 14px
}

.site-header__logo[data-v-dc5e2b7e] {
  display: flex;
  align-items: flex-start
}

@media (max-width:1499.98px) {
  .site-header__logo[data-v-dc5e2b7e] {
    align-items: center
  }
}

.site-header__logo h1[data-v-dc5e2b7e] {
  text-indent: -10000px;
  height: 0;
  width: 0;
  margin: 0
}

@media (max-width:991.98px) {
  .site-header__logo[data-v-dc5e2b7e] {
    line-height: 73px;
    flex: 0 0 auto
  }
}

.site-header__logo img[data-v-dc5e2b7e] {
  max-width: 100%;
  height: auto
}

.site-header__nav[data-v-dc5e2b7e] {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin: 0;
  list-style-type: none;
  z-index: 10
}

@media (max-width:1499.98px) {
  .site-header__nav[data-v-dc5e2b7e] {
    font-size: 15px;
    font-size: .9375rem;
    letter-spacing: 0
  }

  .browser-ie .site-header__nav[data-v-dc5e2b7e] {
    font-size: 15px
  }
}

@media (max-width:991.98px) {
  .site-header__nav[data-v-dc5e2b7e] {
    display: none
  }
}

.site-header__nav-wrapper[data-v-dc5e2b7e] {
  height: 100px
}

@media (max-width:991.98px) {
  .site-header__nav-wrapper[data-v-dc5e2b7e] {
    justify-content: space-between;
    align-items: center
  }
}

.site-header__nav .menu-item[data-v-dc5e2b7e] {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  position: relative;
  text-align: center
}

@media screen and (-ms-high-contrast:active) and (min-width:0),
screen and (-ms-high-contrast:none) and (min-width:0) {
  .site-header__nav .menu-item[data-v-dc5e2b7e]:first-of-type {
    padding-left: 1.5rem
  }
}

@media screen and (-ms-high-contrast:active) and (min-width:576px),
screen and (-ms-high-contrast:none) and (min-width:576px) {
  .site-header__nav .menu-item[data-v-dc5e2b7e]:first-of-type {
    padding-left: 1.75rem
  }
}

@media screen and (-ms-high-contrast:active) and (min-width:768px),
screen and (-ms-high-contrast:none) and (min-width:768px) {
  .site-header__nav .menu-item[data-v-dc5e2b7e]:first-of-type {
    padding-left: 2rem
  }
}

@media screen and (-ms-high-contrast:active) and (min-width:992px),
screen and (-ms-high-contrast:none) and (min-width:992px) {
  .site-header__nav .menu-item[data-v-dc5e2b7e]:first-of-type {
    padding-left: 3rem
  }
}

@media screen and (-ms-high-contrast:active) and (min-width:1500px),
screen and (-ms-high-contrast:none) and (min-width:1500px) {
  .site-header__nav .menu-item[data-v-dc5e2b7e]:first-of-type {
    padding-left: 3rem
  }
}

.site-header__nav .menu-item a[data-v-dc5e2b7e] {
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  font-family: proxima-nova, Arial Black, Verdana, Tahoma;
  font-weight: 400;
  text-transform: uppercase;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1), color .25s cubic-bezier(.4, 0, .2, 1)
}

.browser-ie .site-header__nav .menu-item a[data-v-dc5e2b7e] {
  font-size: 16px
}

@media (max-width:1499.98px) {
  .site-header__nav .menu-item a[data-v-dc5e2b7e] {
    font-size: 14px;
    font-size: .875rem
  }

  .browser-ie .site-header__nav .menu-item a[data-v-dc5e2b7e] {
    font-size: 14px
  }
}

@media (max-width:991.98px) {
  .site-header__nav .menu-item a[data-v-dc5e2b7e] {
    font-size: 28px;
    font-size: 1.75rem
  }

  .browser-ie .site-header__nav .menu-item a[data-v-dc5e2b7e] {
    font-size: 28px
  }
}

.site-header__nav .menu-item a[data-v-dc5e2b7e]:hover {
  color: #e40046;
  text-decoration: none
}

.site-header__nav .menu-item--active[data-v-dc5e2b7e] {
  background-color: #0f1013
}

.site-header__nav .menu-item--active a[data-v-dc5e2b7e] {
  color: #fff;
  font-weight: 700
}

.site-header__nav .menu-item--open[data-v-dc5e2b7e] {
  flex: 2 0 auto;
  justify-content: flex-end
}

@media (max-width:991.98px) {
  .site-header__nav .menu-item--open[data-v-dc5e2b7e] {
    flex: 1 0 auto;
    justify-content: center
  }
}

.site-header__nav .menu-item--open a[data-v-dc5e2b7e] {
  color: #e40046;
  text-transform: none
}

.site-header__nav .menu-item--open[data-v-dc5e2b7e]:after {
  display: none
}

.site-header__nav .menu-item--login[data-v-dc5e2b7e] {
  justify-content: flex-end;
  padding-bottom: 0
}

@media (max-width:991.98px) {
  .site-header__nav .menu-item--login[data-v-dc5e2b7e] {
    justify-content: center
  }
}

.site-header__nav .menu-item--login a[data-v-dc5e2b7e] {
  font-size: 14px;
  font-size: .875rem;
  border: 1.5px solid #e40046;
  border-radius: 4px;
  color: #e40046;
  font-family: canada-type-gibson, Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  padding: 16px;
  margin-top: 0;
  line-height: .8em
}

.browser-ie .site-header__nav .menu-item--login a[data-v-dc5e2b7e] {
  font-size: 14px
}

.site-header__nav .menu-item--login a[data-v-dc5e2b7e]:hover {
  background-color: #e40046 !important;
  color: #fff
}

@media (max-width:991.98px) {
  .site-header__nav .menu-item--login a[data-v-dc5e2b7e] {
    font-size: 24px;
    font-size: 1.5rem
  }

  .browser-ie .site-header__nav .menu-item--login a[data-v-dc5e2b7e] {
    font-size: 24px
  }
}

.site-header__nav .menu-item--login[data-v-dc5e2b7e]:after {
  display: none
}

.site-header__nav .menu-item.active a[data-v-dc5e2b7e] {
  color: #e40046
}

.site-header__mobile-button[data-v-dc5e2b7e] {
  display: none;
  height: 45px;
  top: 10px;
  position: absolute;
  right: 20px;
  width: 55px
}

@media (max-width:991.98px) {
  .site-header__mobile-button[data-v-dc5e2b7e] {
    display: block
  }
}

.site-header__mobile-login[data-v-dc5e2b7e] {
  display: none;
  margin-right: 100px;
  height: 40px
}

@media (max-width:991.98px) {
  .site-header__mobile-login[data-v-dc5e2b7e] {
    display: flex
  }
}

.site-header .mobile-trigger[data-v-dc5e2b7e] {
  background: none;
  border: none;
  cursor: pointer;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 15px;
  outline: none;
  width: 55px
}

@media (max-width:991.98px) {
  .site-header .mobile-trigger[data-v-dc5e2b7e] {
    display: block
  }
}

.site-header .mobile-trigger[data-v-dc5e2b7e]:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 4px;
  background: #e40046;
  top: 11px;
  left: 10%;
  box-shadow: 0 10px 0 #e40046, 0 20px 0 #e40046
}

.ada-skip-menu-item[data-v-7e0a7ae1] {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden
}

.ada-skip-menu-item[data-v-7e0a7ae1]:active,
.ada-skip-menu-item[data-v-7e0a7ae1]:focus,
.ada-skip-menu-item[data-v-7e0a7ae1]:hover {
  top: 0;
  left: 0;
  font-size: 14px;
  font-size: .875rem;
  color: #fff;
  background-color: #1f2733;
  height: auto;
  overflow: auto;
  width: 100%;
  padding: 2px 10px;
  z-index: 100;
  box-shadow: none
}

.browser-ie .ada-skip-menu-item[data-v-7e0a7ae1]:active,
.browser-ie .ada-skip-menu-item[data-v-7e0a7ae1]:focus,
.browser-ie .ada-skip-menu-item[data-v-7e0a7ae1]:hover {
  font-size: 14px
}

.nav-button[data-v-5b128eab] {
  height: 45px;
  position: relative;
  width: 45px;
  z-index: 301
}

.nav-button span[data-v-5b128eab] {
  transform-origin: 50% 50%;
  left: 50%;
  top: 60%;
  transform: translateY(0) translateX(-50%)
}

.nav-button span[data-v-5b128eab],
.nav-button span[data-v-5b128eab]:after,
.nav-button span[data-v-5b128eab]:before {
  background-color: #e40046;
  border-radius: 0;
  display: block;
  height: 4px;
  border-radius: 20px;
  position: absolute;
  transition: transform .35s cubic-bezier(.62, .28, .23, .99), background-color .25s cubic-bezier(.62, .28, .23, .99);
  width: 45px;
  visibility: hidden;
  will-change: transform
}

.nav-button span[data-v-5b128eab]:after,
.nav-button span[data-v-5b128eab]:before {
  transform-origin: 50% 50%;
  content: ""
}

.nav-button span[data-v-5b128eab]:before {
  transform: translateY(-250%)
}

.nav-button span[data-v-5b128eab]:after {
  transform: translateY(250%)
}

.nav-button--open span[data-v-5b128eab] {
  background-color: transparent;
  transform: translateY(-50%) translateX(-50%) rotate(180deg)
}

.nav-button--open span[data-v-5b128eab]:before {
  transform: rotate(45deg)
}

.nav-button--open span[data-v-5b128eab]:after {
  transform: rotate(-45deg)
}

.icon[data-v-39ff79af] {
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga"
}

.col-sm-12[data-v-39ff79af] {
  min-height: 0
}

@media (max-width:991.98px) {
  .page-navigation[data-v-39ff79af] {
    display: none
  }
}

.page-navigation__wrapper[data-v-39ff79af] {
  background: #0f1013;
  box-shadow: 0 2px 4px 0 rgba(60, 60, 60, .5);
  position: relative;
  z-index: 1
}

@media (max-width:991.98px) {
  .page-navigation__wrapper[data-v-39ff79af] {
    overflow-x: scroll
  }
}

.page-navigation__wrapper--empty[data-v-39ff79af] {
  height: 5px
}

.page-navigation__nav[data-v-39ff79af] {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0
}

.page-navigation__nav .menu-item[data-v-39ff79af] {
  padding: 18px 36px;
  position: relative;
  white-space: nowrap
}

.page-navigation__nav .menu-item[data-v-39ff79af]:hover {
  background-color: #e40046
}

.page-navigation__nav .menu-item a[data-v-39ff79af] {
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  font-family: proxima-nova, Arial Black, Verdana, Tahoma;
  font-weight: 500
}

.browser-ie .page-navigation__nav .menu-item a[data-v-39ff79af] {
  font-size: 18px
}

.page-navigation__nav .menu-item--active[data-v-39ff79af],
.page-navigation__nav .menu-item.router-link-exact-active[data-v-39ff79af] {
  background-color: #e40046
}

.page-navigation__nav .menu-item--active a[data-v-39ff79af],
.page-navigation__nav .menu-item.router-link-exact-active a[data-v-39ff79af] {
  font-weight: 600
}

.page-navigation__nav .menu-item--has-children a[data-v-39ff79af]:focus,
.page-navigation__nav .menu-item--has-children a[data-v-39ff79af]:hover {
  background: #fff;
  color: #e40046
}

.page-navigation__nav .menu-item--has-children a:focus+.sub-menu[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children a:hover+.sub-menu[data-v-39ff79af] {
  max-height: 306px;
  opacity: 1;
  padding: 10px 0
}

.page-navigation__nav .menu-item--has-children.focus[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children[data-v-39ff79af]:focus,
.page-navigation__nav .menu-item--has-children[data-v-39ff79af]:hover {
  background: #fff
}

.page-navigation__nav .menu-item--has-children.focus a[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children:focus a[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children:hover a[data-v-39ff79af] {
  color: #e40046
}

.page-navigation__nav .menu-item--has-children.focus .sub-menu[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children:focus .sub-menu[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children:hover .sub-menu[data-v-39ff79af] {
  max-height: 306px;
  opacity: 1;
  padding: 10px 0
}

.page-navigation__nav .menu-item--has-children.focus .sub-menu__item[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children:focus .sub-menu__item[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children:hover .sub-menu__item[data-v-39ff79af] {
  background-color: #fff
}

.page-navigation__nav .menu-item--has-children.focus .sub-menu[data-v-39ff79af]:focus,
.page-navigation__nav .menu-item--has-children:focus .sub-menu[data-v-39ff79af]:focus,
.page-navigation__nav .menu-item--has-children:hover .sub-menu[data-v-39ff79af]:focus {
  max-height: 306px;
  opacity: 1;
  padding: 10px 0
}

.page-navigation__nav .menu-item--has-children .sub-menu[data-v-39ff79af] {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: left;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all .35s cubic-bezier(.4, 0, .2, 1);
  max-height: 0;
  overflow: hidden;
  z-index: 100;
  background-color: #fff;
  min-width: 320px;
  padding: 0;
  margin: 0;
  list-style-type: none
}

.page-navigation__nav .menu-item--has-children .sub-menu .menu-item[data-v-39ff79af] {
  padding: 9px 18px;
  line-height: 1.2
}

.page-navigation__nav .menu-item--has-children .sub-menu .menu-item a[data-v-39ff79af] {
  text-align: left;
  color: #e40046;
  background-color: #fff
}

.page-navigation__nav .menu-item--has-children .sub-menu .menu-item--back[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children .sub-menu .menu-item--sub[data-v-39ff79af],
.page-navigation__nav .menu-item--has-children .sub-menu .menu-item.current-menu-item[data-v-39ff79af]:before {
  display: none
}

.icon[data-v-1a488d6b],
.mobile-navigation__subnav .menu-item[data-v-1a488d6b]:before {
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga"
}

.mobile-navigation[data-v-1a488d6b] {
  font-family: canada-type-gibson, Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  font-display: swap;
  background-color: #fff;
  border-top: 1px solid #f4f7f6;
  padding-top: 80px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity .35s cubic-bezier(.4, 0, .2, 1);
  pointer-events: none;
  width: 100%;
  z-index: 290
}

.mobile-navigation--open[data-v-1a488d6b] {
  opacity: 1;
  overflow-y: auto;
  pointer-events: auto;
  -webkit-overflow-scrolling: touch
}

.mobile-navigation ul[data-v-1a488d6b] {
  list-style-type: none;
  margin: 0
}

@media screen and (min-width:0) {
  .mobile-navigation__nav[data-v-1a488d6b] {
    padding: 1.5rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__nav[data-v-1a488d6b] {
    padding: 1.75rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__nav[data-v-1a488d6b] {
    padding: 2rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__nav[data-v-1a488d6b] {
    padding: 3rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__nav[data-v-1a488d6b] {
    padding: 3rem
  }
}

.mobile-navigation__nav .menu-item[data-v-1a488d6b] {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%
}

.mobile-navigation__nav .menu-item--active[data-v-1a488d6b],
.mobile-navigation__nav .menu-item.router-link-active[data-v-1a488d6b],
.mobile-navigation__nav .menu-item.router-link-exact-active[data-v-1a488d6b] {
  text-decoration: none
}

.mobile-navigation__nav .menu-item--active>a[data-v-1a488d6b],
.mobile-navigation__nav .menu-item.router-link-active>a[data-v-1a488d6b],
.mobile-navigation__nav .menu-item.router-link-exact-active>a[data-v-1a488d6b] {
  font-weight: 600;
  text-decoration: none
}

.mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
  flex: 1 1 auto
}

@media screen and (min-width:0) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-bottom: .75rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-bottom: .875rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-bottom: 1rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-bottom: 1.5rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-bottom: 1.5rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-top: .75rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-top: .875rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-top: 1rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-top: 1.5rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__nav .menu-item a[data-v-1a488d6b] {
    padding-top: 1.5rem
  }
}

.mobile-navigation__nav .menu-item a[data-v-1a488d6b]:active,
.mobile-navigation__nav .menu-item a[data-v-1a488d6b]:hover {
  color: #e40046;
  text-decoration: none
}

.mobile-navigation__nav .menu-item--open[data-v-1a488d6b] {
  font-size: 16px;
  text-transform: none
}

.mobile-navigation__nav .menu-item--login[data-v-1a488d6b] {
  justify-content: flex-end
}

.mobile-navigation__nav .menu-item--login a[data-v-1a488d6b] {
  border: 1.5px solid #e40046;
  border-radius: 4px;
  color: #e40046;
  font-size: 16px;
  line-height: .8em;
  margin-top: 0;
  padding: 16px;
  text-align: center
}

@media screen and (min-width:0) {
  .mobile-navigation__nav--extra[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__nav--extra[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__nav--extra[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__nav--extra[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__nav--extra[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__nav--extra .menu-item[data-v-1a488d6b] {
    padding-top: 1.5rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__nav--extra .menu-item[data-v-1a488d6b] {
    padding-top: 1.75rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__nav--extra .menu-item[data-v-1a488d6b] {
    padding-top: 2rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__nav--extra .menu-item[data-v-1a488d6b] {
    padding-top: 3rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__nav--extra .menu-item[data-v-1a488d6b] {
    padding-top: 3rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding: 1.5rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding: 1.75rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding: 2rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding: 3rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding: 3rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-bottom: .75rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-bottom: .875rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-bottom: 1rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-bottom: 1.5rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-bottom: 1.5rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__subnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

.mobile-navigation__subnav .menu-item[data-v-1a488d6b] {
  align-items: center;
  border-bottom: 1px solid #f4f7f6;
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: none;
  width: 100%
}

.mobile-navigation__subnav .menu-item[data-v-1a488d6b]:before {
  content: "arrow_forward_ios";
  font-size: 12px
}

.mobile-navigation__subnav .menu-item--active a[data-v-1a488d6b],
.mobile-navigation__subnav .menu-item.router-link-exact-active a[data-v-1a488d6b] {
  font-weight: 600
}

.mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
  color: #414141;
  flex: 1 1 auto
}

@media screen and (min-width:0) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-bottom: .75rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-bottom: .875rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-bottom: 1rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-bottom: 1.5rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-bottom: 1.5rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-top: .75rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-top: .875rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-top: 1rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-top: 1.5rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__subnav .menu-item a[data-v-1a488d6b] {
    padding-top: 1.5rem
  }
}

.mobile-navigation__subsubnav[data-v-1a488d6b] {
  flex: 1 1 100%
}

@media screen and (min-width:0) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding: 1.5rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding: 1.75rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding: 2rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding: 3rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding: 3rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-bottom: .75rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-bottom: .875rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-bottom: 1rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-bottom: 1.5rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-bottom: 1.5rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__subsubnav[data-v-1a488d6b] {
    padding-top: 0
  }
}

.mobile-navigation__utility[data-v-1a488d6b] {
  background-color: #f6f6f6
}

@media screen and (min-width:0) {
  .mobile-navigation__utility[data-v-1a488d6b] {
    padding: 1.5rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__utility[data-v-1a488d6b] {
    padding: 1.75rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__utility[data-v-1a488d6b] {
    padding: 2rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__utility[data-v-1a488d6b] {
    padding: 3rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__utility[data-v-1a488d6b] {
    padding: 3rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__utility li[data-v-1a488d6b] {
    margin-bottom: .75rem
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__utility li[data-v-1a488d6b] {
    margin-bottom: .875rem
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__utility li[data-v-1a488d6b] {
    margin-bottom: 1rem
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__utility li[data-v-1a488d6b] {
    margin-bottom: 1.5rem
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__utility li[data-v-1a488d6b] {
    margin-bottom: 1.5rem
  }
}

@media screen and (min-width:0) {
  .mobile-navigation__utility li[data-v-1a488d6b]:last-of-type {
    margin-bottom: 0
  }
}

@media screen and (min-width:576px) {
  .mobile-navigation__utility li[data-v-1a488d6b]:last-of-type {
    margin-bottom: 0
  }
}

@media screen and (min-width:768px) {
  .mobile-navigation__utility li[data-v-1a488d6b]:last-of-type {
    margin-bottom: 0
  }
}

@media screen and (min-width:992px) {
  .mobile-navigation__utility li[data-v-1a488d6b]:last-of-type {
    margin-bottom: 0
  }
}

@media screen and (min-width:1500px) {
  .mobile-navigation__utility li[data-v-1a488d6b]:last-of-type {
    margin-bottom: 0
  }
}

.mobile-navigation__utility a[data-v-1a488d6b] {
  color: #414141;
  font-size: 16px;
  font-weight: 300
}
 /* 轮播图 */

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #fff;
  overflow: hidden;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
  position: relative;
}
.ant-carousel .slick-slide h3 div{
  width: 600px;
  position: absolute;
  top: 45%;
  left: 0;
}
.ant-carousel .slick-slide h3:nth-child(1){
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    min-height: 605px;
}
